
table {
  width: 90%;
  margin: auto;
  border-collapse: collapse;
  background-color: rgba(174, 184, 213, 0.1);
  border-radius: 10px;
}

#hero {
  display: flex;
  margin-bottom: 2rem;
}

#hero img {
  width: 40%;
  margin: 0 auto;
  padding: 1rem;
}

th {
  font-size: 2rem;
  padding: 2rem;
}

td {
  padding: 2rem;
}

td:nth-of-type(odd) {
  font-weight: bold;
  text-align: center;
}

tbody tr:nth-of-type(odd) {
  background-color: rgba(174, 184, 213, 0.1);
  border-radius: 10px;
}

@media (max-width: 1000px) {
  #hero img {
    width: 70%;
  }
}

@media (max-width: 768px) {

  table {
    background: none;
  }

  #hero img {
    width: 90%;
  }
  
  thead {
    display: none;
  }

  td {
    display: block;
    border-radius: 10px;
    padding: 1.5rem;
  }

  td:first-child:before {
    content: "Genre: ";
  }
  
  td:last-child:before {
    content: "Description:";
  }
}